	<p>
		<strong>Commenter:</strong>
		<%= comment.commenter %>
	</p>
	<p>
		<strong>Comment:</strong>
		<%= comment.body %>
	</p>

	<p>
		<td><%= link_to 'Delete', [comment.post, comment], method: :delete, data: {confirm: 'Are you sure you with to delete this comment?' }, class: "btn btn-xsmall btn-success" %></td>
	</p>